<div class="center">
  <h1>
    Genre Analyser
  </h1>
  <button mat-raised-button type="button" (click)="audioFile.click()">Select Audio File</button>
  <input hidden type="file" id="audioFile" #audioFile (change)="audioChange()" accept="audio/*"/>
  <br/>
  <audio hidden id="audioPlayer" #audioPlayer></audio>
</div>
<div class="mt-1">
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <app-waveform-visualizer></app-waveform-visualizer>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-frequency-visualizer></app-frequency-visualizer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
